# This is your secret key to decrypt the file
SECRET_PASSPHRASE=some-awesome-secret

# This is the initialization vector and should be unique for each run with the
# same key. Use the value emitted each time you encrypt your file.
IV=123456789012

# This is the Authorization Tag that is used to validate the encrypted file. This
# is emitted each time you encrypt your file.
AUTH_TAG=e0b5a9d8c4b6c7a8e0b5a9d8c4b6c7a8
